*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.springBeans
.settings/
*.iml
.idea/
.externalToolBuilders/
.classpath
.mymetadata
.project
pom.properties
hms-webapp/target/
hms-webapp/target
hms-base/target/
hms-base/target
hms-business/target/
hms-business/target
